.q1{
    width: 60px;
}
.navbar-nav {
    margin-right: 150px;
    font-weight: 700;
    font-size: 20px;
}
.q4{
    font-weight: 700;
    font-size: 60px;
}
.w1{
    background-color: #0054A4;
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
    font-weight: 600;
}
.w2{
    font-size: 23px;
    margin-left: 30px;
    font-weight: 900;
}
.t1{
    font-size: 25px;
    margin-top: 15px;
}
.t2{
    height: 105px;
}
.y1{
height: 196px;
}
.y2{
    font-size: 22px;
    font-weight: 700;
}
.n1{
    width: 228px;
}
.n2{
    width: 238px;
}
.n3{
    width: 170px;

}
